body {
    font-family: 'Bebas Neue', sans-serif;
    align-items: center;
    justify-content:center;
    height: 90vh;
    width: 100%;
    background-color: #2d3a5a;
}

.row {
   display: flex;
   padding: 10px;
   background-color: rgb(233, 104, 104)
   
}

h1 {
    text-align: center;
    color: #fff;
}

#successText {
    justify-content: center;
}

h3 {
    text-align: center;
    color: #fff;
}

.column  {
    position: relative;
    background-color: #fff;
    flex: 30%;
    padding: 5px;
}

.c1 {
    top: 4.5%;
    left: 19%;
    position: absolute;
    border-radius: 50%;
    width: 5.5%;
    height: 6.5%;
    cursor: pointer;

    border:2px solid red;    
    border-radius:50%;
}

.c2 {
    top: 59%;
    left: 58.5%;
    position: absolute;
    border-radius: 50%;
    width: 3%;
    height: 4%;
    cursor: pointer;

    border:2px solid red;    
    border-radius:50%;
}

.c3 {
    top: 57.5%;
    left: 37%;
    position: absolute;
    border-radius: 50%;
    width: 5.7%;
    height: 6%;
    cursor: pointer;

    border:2px solid red;    
    border-radius:50%;
}

.c4 {
    top: 42%;
    left: 28%;
    position: absolute;
    border-radius: 50%;
    transform: rotate(-25deg);
    width: 8.5%;
    height: 5.5%;
    cursor: pointer;

    border:2px solid red;    
    border-radius:50%;
}

.c5 {
    top: 37%;
    left: 61.5%;
    position: absolute;
    border-radius: 50%;
    transform: rotate(25deg);
    width: 8%;
    height: 5%;
    cursor: pointer;

    border:2px solid red;    
    border-radius:50%;
}

#red_cross {
    position: absolute;
    width: 4%;
    height: 5%;
}

#img_diff:hover {
    cursor:pointer;
}
